body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh !important;
    font-family: 'Noto Sans', sans-serif;
    color: #222222;
}

/* comienza clases reutilizables */


.frase {
    text-align: center;
}

/* terminan clases reutilizables */

/* comienza primera sección */

#primera-seccion {
    background: linear-gradient(rgba(68, 13, 13, 0.35), rgba(38,2,2,0.446)), url(./Imagenes/Pastel\ fondo.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

#barra-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#logo {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: wider;
}

nav > a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav > a:hover {
    color: palevioletred;
}

#primera-seccion-contenido {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#primera-seccion-contenido > p {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#primera-seccion-contenido > hr {
    width: 3rem;
    border-color: palevioletred;
    display: flex;
    flex-direction: column;
}

#primera-seccion-contenido > h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

/* termina primera sección */
